/*mobile-first logo and nav bar*/
header{
  font-family: 'Merriweather', serif;
}

#logo{
  display: inline;
  width: 40%;
  height: auto;
  float: left;
  margin-right: 5%;
}

#title{
  width: 50%;
  display: inline;
}

#title h1{
  font-size: 1.63em;
  text-align: center;
  color: rgb(43, 99, 172);
  padding-top: 10%;
  padding-right: 2%;
}

#navbar-container {
  margin-top: 2%;
}

#navbar-container ul {
  padding-inline-start: 0;
  width: 100%;
  background-color: rgb(43, 99, 172);
  list-style-type: none;
  display: block;
  float: left;
}

#navbar-container  ul li {
  border-width: 5px;
  margin-top: 1%;
  border-color: white;
}
#navbar-container  ul li a {
  text-align: center;
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.4em;
  text-decoration: none;
}

.active{
  background-color: rgb(39, 38, 66);
}

@media(min-width: 992px) {
  #logo{
	margin-left: 0;
	width: 15%;
	height: auto;
  }
  
  #title{
    width: 50%;
    display: inline;
  }

  #title h1{
    font-size: 1.63em;
    padding-top: 3%;
  }
  
  #navbar-container {
    display: inline;
  }
  
  #navbar-container ul {
	width: 80%;
    display: flex;
  }
  
  #navbar-container  ul li:hover {
    background-color: rgb(39, 38, 66);
  }
}